src/Topshelf.ApplicationHostBuilder/obj/
src/Topshelf.ApplicationHostBuilder/bin/
tests/Topshelf.ApplicationHostBuilder.Tests/obj/
tests/Topshelf.ApplicationHostBuilder.Tests/bin/
packages/
!tools/**
*.nupkg
Topshelf.ApplicationHostBuilder.v3.ncrunchsolution
.vs/
src/Tests/Topshelf.ApplicationHostBuilder.Integration.Tests/bin/
src/Tests/Topshelf.ApplicationHostBuilder.Integration.Tests/obj/
