<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="Shouldly" version="3.0.0" targetFramework="net47" />
  <package id="SimpleInjector" version="4.2.1" targetFramework="net47" />
  <package id="Test.It" version="1.2.0" targetFramework="net47" />
  <package id="Test.It.While.Hosting.Your.Windows.Service" version="2.1.3" targetFramework="net47" />
  <package id="Test.It.With.XUnit" version="1.0.1" targetFramework="net47" />
  <package id="Topshelf" version="4.0.3" targetFramework="net47" />
  <package id="xunit" version="2.3.1" targetFramework="net47" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net47" />
  <package id="xunit.analyzers" version="0.7.0" targetFramework="net47" />
  <package id="xunit.assert" version="2.3.1" targetFramework="net47" />
  <package id="xunit.core" version="2.3.1" targetFramework="net47" />
  <package id="xunit.extensibility.core" version="2.3.1" targetFramework="net47" />
  <package id="xunit.extensibility.execution" version="2.3.1" targetFramework="net47" />
</packages>